{% extends 'base.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'analyzer/css/detail.css' %}">
{% endblock %}

{% block body %}
    <div class="row title">

        <div id="project_name" class="col-xs-5 text-left">
            <h2>{{ project.name }}</h2>
        </div>

        <div id="run-button" class="col-xs-7 text-right">
            {% if project.running %}
                <span>{% trans 'Analysis is running. Please refresh the page after couple of seconds' %}</span>
                <span class="fa fa-circle-o-notch fa-spin fa-2x fa-f"></span>
            {% else %}
                <a class="btn btn-info"
                   href="{% url 'run' project_id=project.id %}">{% trans 'Run analysis' %}</a>
            {% endif %}
        </div>

    </div>
    {% crispy form %}
{% endblock %}