{% extends 'base.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'analyzer/css/details.css' %}">
{% endblock %}

{% block body %}
    <div class="row title">

        <div id="project_name" class="col-sm-5 text-left">
            <h2>{{ project.name }}</h2>
        </div>

        <div id="run-button" class="col-sm-7 text-right">
            {% if project.running %}
                <span>{% trans 'Analysis is running. Please refresh the page after couple of seconds' %}</span>
                <span class="fa fa-circle-o-notch fa-spin fa-f"></span>
            {% else %}
                <a class="btn btn-info"
                   href="{% url 'run' project_id=project.id %}">{% trans 'Run analysis' %}</a>
            {% endif %}
        </div>

    </div>
    <hr>
    {% crispy form %}
    <hr>
    {% crispy subscription_form %}
    <details>
        <summary><span class="title_text">{% trans 'subscribers' %}</span></summary>

        {% for subscription in subscriptions %}
            <hr>
            <div class="row">
                <div class="col-xs-10">
                    <p class="email">{{ subscription.email }}</p>
                </div>
                <div class="col-xs-2 text-right">
                    <a class="btn btn-danger"
                       href="{% url 'delete-subscription' subscription_id=subscription.id %}">
                        {% trans 'delete' %}
                    </a>
                </div>
            </div>
        {% endfor %}

    </details>

    <hr>

    <div id="results">
    <details>
    <summary class="title_text">{% trans 'Results' %}</summary>
        {% for result in project.result_set.all reversed %}
            <hr>
            <div class="row result">
                <details>
                    <summary><span class="summary">{{ result.date }} ({{ result.count }})</span>
                    </summary>
                    <div class="details">
                        {% for analyser, massages in result.results.items %}
                            <details>
                                <summary class="summary">{{ analyser }} ({{ massages.1 }})</summary>
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        {% for key in massages.0.0 %}
                                            <th>{{ key }}</th>
                                        {% endfor %}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for massage in massages.0 %}
                                        <tr>
                                            {% for value in massage.values %}
                                                <th>{{ value }}</th>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>{{ massages.2 }}</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </details>
                        {% endfor %}
                    </div>
                </details>
            </div>
        {% endfor %}
    </details>
    </div>
{% endblock %}