{% extends 'base.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'analyzer/css/analyzer.css' %}">
{% endblock %}

{% block body %}
    <div class="jumbotron content">
        {% for project in projects %}
            <div class="row project">
                <div class="col-sm-4">
                    <span>{{ project.name }}</span>
                </div>
                <div class="col-sm-5 text-center">
                    <span>{{ project.url }}</span>
                </div>
                <div class="col-sm-2 text-center">
                    {% if project.last_analyzed %}
                        <span>{{ project.last_analyzed }}</span>
                        <button class="btn btn-success">{% trans "Results" %}</button>
                    {% else %}
                        <span>{% trans "Never" %}</span>
                    {% endif %}
                </div>
                <div class="col-sm-1 text-right">
                    <a class="btn btn-info" type="submit">{% trans "Details" %}</a>
                </div>
            </div>
        {% endfor %}
        <hr>
        {% crispy project_form %}
    </div>
{% endblock %}