{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block body %}
    <div class="jumbotron content">
        {% for project in projects %}
            <div class="row">
                <div class="col-sm-4">
                    <span>{{ project.name }}</span>
                </div>
                <div class="col-sm-5 text-center">
                    <span>{{ project.url }}</span>
                </div>
                <div class="col-sm-2 text-center">
                    {% if project.last_analyzed %}
                        <span>{{ project.last_analyzed }}</span>
                        <button class="btn btn-success">{% trans "Results" %}</button>
                    {% else %}
                        <span>{% trans "Never" %}</span>
                    {% endif %}
                </div>
                <div class="col-sm-1 text-right">
                    <a class="btn btn-info" type="submit">{% trans "Details"  %}</a>
                </div>
            </div>
        {% endfor %}
        <hr>
        {% csrf_token %}
        {% crispy project_form %}
        <input type="submit" class="btn btn-success" value="{% trans "Add new" %}">
    </div>
{% endblock %}