{% extends 'base.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'analyzer/css/home.css' %}">
{% endblock %}

{% block body %}
    <div class="header row">
        <div class="col-sm-3 small-center">
            <h3>{% trans 'Project name' %}</h3>
        </div>

        <div class="col-sm-5 text-center">
            <h3>{% trans 'Project url' %}</h3>
        </div>

        <div class="col-sm-3 text-center" title="{% trans 'Last analysed' %}">
            <h3>{% trans 'Last anayzed' %}</h3>
        </div>

        <div class="col-sm-1 text-right small-center">
           <h3>{% trans '' %}</h3>
        </div>
    </div>
    <hr>
    {% for project in projects %}
        <div class="row project">

            <div class="col-sm-3 small-center">
                {% if project.running %}
                    <span class="fa fa-circle-o-notch fa-spin fa-fw"
                          title="{% trans 'Analysis is running' %}"></span>
                {% else %}
                    <span class="fa fa-check" title="{% trans 'All tasks finished' %}"></span>
                {% endif %}
                <span title="{% trans 'project name' %}">{{ project.name }}</span>
            </div>

            <div class="col-sm-5 text-center">
                <span title="{% trans 'Project url' %}">{{ project.url }}</span>
            </div>

            <div class="col-sm-3 text-center" title="{% trans 'Last analysed' %}">
                {% if project.last_analyzed %}
                    <span>{{ project.last_analyzed }}</span>
                {% else %}
                    <span>{% trans "Never" %}</span>
                {% endif %}
            </div>

            <div class="col-sm-1 text-right small-center">
                <a class="btn btn-info"
                   href="{% url 'detail' slug=project.slug %}">{% trans "Go to" %}</a>
            </div>

        </div>
        <hr>
    {% endfor %}
    {% crispy project_form %}
{% endblock %}